services:
  rabbitmq:
    image: rabbitmq:3-management
    container_name: rabbitmq
    ports:
      - "5672:5672"      # AMQP
      - "15672:15672"    # Management UI
    environment:
      RABBITMQ_DEFAULT_USER: guest
      RABBITMQ_DEFAULT_PASS: guest
    healthcheck:
      test: ["CMD", "rabbitmq-diagnostics", "ping"]
      interval: 10s
      timeout: 5s
      retries: 5

  redis:
    image: redis:7
    container_name: redis
    ports:
      - "6379:6379"

  redisinsight:
    image: redis/redisinsight:latest
    container_name: redisinsight
    ports:
      - "5540:5540"
    depends_on:
      - redis
    restart: unless-stopped

  producer-service:
    build:
      context: ./producer/producer
      dockerfile: Dockerfile
    container_name: producer-service
    depends_on:
      rabbitmq:
        condition: service_healthy
    ports:
      - "8080:8080"
    restart: unless-stopped

  consumer-service:
    build:
      context: ./consumer/consumer
      dockerfile: Dockerfile
    container_name: consumer-service
    depends_on:
      rabbitmq:
        condition: service_healthy
      redis:
        condition: service_started
    ports:
      - "8081:8081"
    restart: unless-stopped
